<div class="container px-4">
    <div class="row align-items-center gx-5">
      <div class="col col-md-4">
       <div class="row p-3 border bg-light">
            <div class="col col-md-6">
                <img src="https://static4.abc.es/media/play/2020/09/29/avatar-kE4H--1024x512@abc.jpeg" class="rounded w-100" alt="...">
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="d-flex align-items-middle">
                            <div class="nav flex-column me-6" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link regular-text active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true"><i class="bi bi-gear-wide-connected"></i> Organizacion </a>
                                <a class="nav-link regular-text" id="v-pills-projects-tab" data-bs-toggle="pill" data-bs-target="#v-pills-projects" type="button" role="tab" aria-controls="v-pills-projects" aria-selected="false"><i class="bi bi-folder"></i> Mis proyectos</a>
                                <a class="nav-link regular-text" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="bi bi-chat"></i> Revisiones</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
      </div>
      <div class="col col-md-8">
        <div class="p-3 border bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <app-profile class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">..Profile.</app-profile>
                <app-user-projects class="tab-pane fade" id="v-pills-projects" role="tabpanel" aria-labelledby="v-pills-projects-tab"></app-user-projects>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">..messages.</div>
            </div>
        </div>
      </div>
    </div>
  </div>