<div class="container full-h">
        <div class="row align-items-center justify-content-center">
                <div class="col-md-4 text-center">
                        Bienvenido al Banco de proyectos NARP, para iniciar su proceso, primero requerimos los datos a
                        continuacion para su debido registro.
                </div>
        </div>
        <div class="row align-items-center justify-content-center">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs col-md-6">
                        <li [ngbNavItem]="1">
                                <a ngbNavLink>Registrate</a>
                                <ng-template ngbNavContent>
                                        <div class="row align-items-center justify-content-center">
                                                <form (ngSubmit)="register(template)" [formGroup]="registerform"
                                                        class="col-md-6 card registerCard">
                                                        <div class="mb-3">
                                                                <label for="email" class="form-label">Correo electronico
                                                                        para iniciar sesion</label>
                                                                <input type="email" formControlName="email"
                                                                        class="form-control" 
                                                                        id="email">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="password" class="form-label">Contraseña para
                                                                        iniciar sesion</label>
                                                                <input type="password" formControlName="password"
                                                                        class="form-control" 
                                                                        id="password">
                                                        </div>
                                                        <div class="mb-3">
                                                                <h2>Datos de organizacion</h2>
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="organizationName" class="form-label">Nombre
                                                                        de la organizacion que desea inscribir</label>
                                                                <input type="text" formControlName="organizationName"
                                                                        class="form-control" 
                                                                        id="organizationName">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="organizationDNI" class="form-label">NIT</label>
                                                                <input type="text" formControlName="organizationDNI"
                                                                        class="form-control" 
                                                                        id="organizationDNI">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="legalRepresentative"
                                                                        class="form-label">Nombre del representante
                                                                        legal de la organizacion</label>
                                                                <input type="text" formControlName="legalRepresentative"
                                                                        class="form-control" 
                                                                        id="legalRepresentative">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="legalRepresentativeDNI"
                                                                        class="form-label">Documento de identidad</label>
                                                                <input type="text" formControlName="legalRepresentativeDNI"
                                                                        class="form-control" 
                                                                        id="legalRepresentativeDNI">
                                                        </div>
                                                        
                                                        <div class="mb-3">
                                                                <h2>Ubicación Sede</h2>
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="state"
                                                                        class="form-label">Departamento</label>
                                                                <input type="text" formControlName="state"
                                                                        class="form-control" 
                                                                        id="state">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="city" class="form-label">Municipio</label>
                                                                <input type="text" formControlName="city"
                                                                        class="form-control" 
                                                                        id="city">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="township" class="form-label">Pueblo o
                                                                        corregimiento (Opcional)</label>
                                                                <input type="text" formControlName="township"
                                                                        class="form-control" 
                                                                        id="township">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="phoneNumber" class="form-label">Numero
                                                                        telefonico</label>
                                                                <input type="number" formControlName="phoneNumber"
                                                                        class="form-control" 
                                                                        id="phoneNumber">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="website" class="form-label">URL sitio web o
                                                                        red social (Opcional)</label>
                                                                <input type="email" formControlName="website"
                                                                        class="form-control" 
                                                                        id="website">
                                                        </div>

                                                        <div class="mb-3">
                                                                <label for="organizationType" class="form-label">Tipo de organizacion</label>
                                                                <select class="form-select" id="organizationType" formControlName="organizationType" aria-label="Default select example">
                                                                        <option [ngValue]="null" disabled>Por favor elija una opcion</option>
                                                                        <option *ngFor="let type of orgTypesMapper" [ngValue]="type.key">{{type.value}}</option>
                                                                </select>
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="coverage" class="form-label">Según predio</label>
                                                                <select class="form-select" id="coverage" formControlName="coverage" aria-label="Default select example">
                                                                        <option [ngValue]="null" disabled>Por favor elija una opcion</option>
                                                                        <option *ngFor="let type of coverageMapper" [ngValue]="type.key">{{type.value}}</option>
                                                                </select>
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="comunity" class="form-label">Según Tipo de Comunidad</label>
                                                                <select class="form-select" id="comunity" formControlName="comunity" aria-label="Default select example">
                                                                        <option [ngValue]="null" disabled>Por favor elija una opcion</option>
                                                                        <option *ngFor="let type of organizationCityTypeMapper" [ngValue]="type.key">{{type.value}}</option>
                                                                </select>
                                                        </div>

                                                        <div class=" mb-3">
                                                                <h2>Registro público único</h2>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row" formGroupName="publicRegister">
                                                                    <div class="col-md-10">
                                                                        <label for="registerNumber" class="form-label">Numero de registro</label>
                                                                        <input type="number" formControlName="registerNumber"
                                                                                class="form-control" 
                                                                                id="registerNumber" >
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label for="year" class="form-label">Año</label>
                                                                        <input type="number" formControlName="year"
                                                                                class="form-control" 
                                                                                id="year" >
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label for="accreditingEntity" class="form-label">Entidad que acredita</label>
                                                                        <input type="text" formControlName="accreditingEntity"
                                                                                class="form-control" 
                                                                                id="accreditingEntity" >
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <label for="entityThatAccreditsTheUpdate" class="form-label">Entidad que acredita la actualización</label>
                                                                        <input type="text" formControlName="entityThatAccreditsTheUpdate"
                                                                                class="form-control" 
                                                                                id="entityThatAccreditsTheUpdate" >
                                                                    </div>
                                                                    <div class="col-md-2 mb-3">
                                                                        <label for="yearOfAccreditation" class="form-label">Año</label>
                                                                        <input type="number" formControlName="yearOfAccreditation"
                                                                                class="form-control" 
                                                                                id="yearOfAccreditation" >
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        <div class="spinner-border text-primary" role="status"
                                                                *ngIf="sending">
                                                                <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" *ngIf="!sending"
                                                                [disabled]="!registerform.valid">Crear cuenta</button>
                                                </form>
                                        </div>
                                </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                                <a ngbNavLink>Ó inicia sesion</a>
                                <ng-template ngbNavContent>
                                        <div class="row align-items-center justify-content-center">
                                                <form (ngSubmit)="login(template)" [formGroup]="loginform"
                                                        class="col-md-6 card registerCard">
                                                        <div class="mb-3">
                                                                <label for="email" class="form-label">Correo electronico</label>
                                                                <input type="email" formControlName="email"
                                                                        class="form-control" 
                                                                        id="email">
                                                        </div>
                                                        <div class="mb-3">
                                                                <label for="password" class="form-label">Contraseña</label>
                                                                <input type="password" formControlName="password"
                                                                        class="form-control" 
                                                                        id="password">
                                                        </div>
                                                      <div class="mb-3 form-check">
                                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                <label class="form-check-label" for="exampleCheck1">Mantener sesion activa</label>
                                                        </div> 
                                                        <div class="spinner-border text-primary" role="status"
                                                                *ngIf="sending">
                                                                <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" *ngIf="!sending"
                                                                [disabled]="!loginform.valid">Vamos!</button>
                                                </form>
                                        </div>
                                </ng-template>
                        </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
</div>


<ng-template #template>
        <div class="modal-header">
                <h4 class="modal-title pull-left">Hola! {{newUser.legalRepresentative}}</h4>
                <button type="button" *ngIf="modalRef" class="close pull-right" aria-label="Close"
                        (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <p>
                        <span>
                                Acabas de inscribir a {{newUser.organizationName}} en nuestra base de datos,
                                pronto nos contactaremos contigo via E-mail para comenzar el proceso de registro de
                                proyectos.
                        </span>
                        <b>Bienvenido al Banco de proyectos NARP!</b>
                </p>
        </div>
</ng-template>