<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 text-left">
        <button (click)="goToNewProject()" type="button" class="btn btn-primary">Nuevo proyecto <i class="bi bi-folder"></i></button>
    </div>
    <!-- <table class="table table-striped col-md-12">
        <thead>
          <tr>
            <th scope="col">Proyecto</th>
            <th scope="col">Revisor</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
                <a href="user/projects/in-project">
                    Nombre del proyecto
                </a>
            </td>
            <td>Jhon Doe</td>
            <td class="table-info">EN REVISION</td>
          </tr>
          <tr>
            <td scope="row">
                <a href="user/projects/in-project">
                    Nombre del proyecto 1
                </a>
            </td>
            <td>Jhon Doe</td>
            <td class="table-danger">RECHAZADO</td>
          </tr>
        </tbody>
      </table> -->
</div>
</div>
